body {
    background-image: url(img/digital-art-beautiful-mountains.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    background-position: center;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {}